{
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 70,
        "useTabs": false,
        "trailingComma": "es5",
        "proseWrap": "never",
        "semi": false
      }
    }
  ]
}
